.about-page-container {
    font-family: 'PT Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .about-page-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .about-page-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: justify;
  }
  
  .about-page-description {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #343a40;
  }
  