.create-poll-form {

  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 85vh;
  max-width: 70%;
  overflow-y: scroll;
  background-color: #9fd1f0b1;
}

.create-poll-form::-webkit-scrollbar {
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-option-button,
.create-poll-button {
  background-color: #4c96ea;
  ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-option-button {
  background-color: #4c96ea;
  ;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  margin: 10px;
}

.add-option-button:hover,
.create-poll-button:hover {
  background-color: #6962eb;
}