.poll-container1 {
  font-family: 'PT Sans';
  width: 50%;
  margin: 0 auto;

  
}

.container{
  max-height: 85vh;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.poll-list {
  list-style-type: none;
  
}

.poll-item {    
  font-size: 1.2em;
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  text-decoration: none;
  color: rgb(28, 22, 77);
  background-color: rgb(175, 207, 231);
  border-radius: 3rem; 
  text-align: center;
}


.poll-item button {  
  font-size: 1.2em;
  margin: 10px;
  text-decoration: none;
  background-color: #4c96ea;
  border-radius: 30rem;
  padding: 10px;
  font-size: small;
}


/* @media (max-width: 768px) {
  .poll-item {
    font-size: 1em;
    border-radius: 1rem;
    width: 150px;
  } 
  .poll-item button {
    font-size: 1em;
    border-radius: 2rem;
    margin :0px;
    width: 60px;
  }
} */