nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #151515; */
  color: rgb(10, 1, 1);
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  border: black 0.5px solid;
}

#name{
  color: rgb(13, 13, 13);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-items {
  color: rgb(18, 17, 17);
  font-size: 16px;
  margin-right: 20px;
  text-decoration: none;
}

#login-logout-button {
  background-color: #ea4c88;
  border-radius: 3rem;
  border: 3px solid black;
  color: rgb(13, 12, 12);
  padding: 5px 10px;
  text-decoration: none;
  /* display: flex;x` */
  text-align:  center;
  align-content:  center;
  justify-content: center;
}
