.poll-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #9fd1f0b1;
  padding: 40px 60px;
}

.poll-container h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.poll-container::-webkit-scrollbar {
  display: none;
}
.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.radio-option input[type="radio"] {
  margin-right: 10px;
  color: #ea4c88;
}

button[id="submit-button"] {
  padding: 10px 20px;
  background-color: #4c96ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 10vh;
}

button[id="submit-button"]:hover {
  background-color:  #4ca3ea;
}

.backk{
  display: flex;
  align-items: flex-start;
  padding: 100px auto;
}
